---
import { Image } from "astro:assets";
import headerimagen from "../../images/fotoMeinp.jpg"
---

<section class="grid sm:grid-cols-1 md:grid-cols-2 gap-8 max-w-7xl mt-10 mx-auto items-center">
    <div class="text-center p-4 mx-10">
        <h2 class="text-center text-orange-800 uppercase font-Rubik font-semibold text-2xl p-2">que es mundo belleza</h2>
        <p class="font-Rubik text-lg text-center md:text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quaerat expedita, numquam doloremque nisi voluptates explicabo placeat sunt vero laborum error illo hic, dolore iure quibusdam quod inventore? Sequi, natus corrupti consequuntur, ex aut quisquam aspernatur velit dolorem nobis adipisci excepturi tenetur minus. Vitae voluptates incidunt nam, voluptatum laboriosam laborum?</p>
    </div>
    <div class="p-4">
       <Image src={headerimagen} alt="foto de cosmeticos"/>

    </div>

</section>