---
import CardMarcas from "../cards/cardMarcas.astro";

---

<section class="py-10 my-9 max-w-7xl bg-slate-500 mx-auto">
    <div class="mx-auto">
        <h1 class="uppercase text-center font-Rubik font-extrabold text-2xl text-orange-700">trabajamos con!!</h1>
        <p class="text-center md:text-left ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aliquid quibusdam, quod velit enim officia! Accusamus amet minima vitae asperiores distinctio quibusdam sapiente aliquam debitis nesciunt. Ducimus molestias repellendus illum vitae saepe. Aperiam, minima rem veritatis ullam totam eos. Omnis!</p>
    </div>
    <div>
        <CardMarcas/>

    </div>
    
</section>