---
import CardMarcas from "../cards/cardMarcas.astro";
---

<section class="py-10 m-9 max-w-7xl rounded-md shadow-2xl mx-auto bg-white">
  <article class="mx-auto w-[90%]">
    <h1
      class="uppercase text-center font-Oswald font-extrabold text-2xl text-orange-700 mb-10"
    >
      trabajamos con!!
    </h1>
    <p class="text-center md:text-left mx-10">
      manejamos diversas marcan en el mercado rconocidas desde semiprofecionales hasta completamnete profecionales con gran trayectoria y reconosimiento dandole la tranqilidad a nuestros clientes que solo trabajamos con productos de calidad.
    </p>
  </article>
  <div class="grid grid-cols-3 md:grid-cols-8 items-center w-[90%] mt-10 mx-auto px-4 gap-4">
    <CardMarcas imagen="imagenes-marcas/Logo_yellow.png" alt="logo yellow" />
    <CardMarcas imagen="imagenes-marcas/visalia.png" alt="logo visalia" />
    <CardMarcas imagen="imagenes-marcas/leale.png" alt="logo leale" />
    <CardMarcas imagen="imagenes-marcas/thyms.png" alt="logo thyms" />
    <CardMarcas imagen="imagenes-marcas/remington.png" alt="logo remington" />
    <CardMarcas imagen="imagenes-marcas/recamier.png" alt="logo recamier" />
    <CardMarcas imagen="imagenes-marcas/raquel.webp" alt="logo raquel" />
    <CardMarcas imagen="imagenes-marcas/Logo_yellow.png" alt="logo yellow" />
    
  </div>
</section>
