---
import CardProduct from "../cards/cardProduct.astro";
---

<section class="mt-10 max-w-7xl flex flex-col mx-auto">
  <article class="text-center mb-10">
    <h2 class="text-2xl font-Rubi text-orange-700 mb-8">
      NUESTROS PRODUCTOS GANADORES
    </h2>
    <p class="text-base font-Rubik from-stone-700 mx-10">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolore
      reprehenderit autem quos deserunt quasi, placeat culpa doloremque qui
      officiis!
    </p>
  </article>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 items-center mx-10">
    <CardProduct
      title="secador"
      content="el mejor secador para pelos rizados"
      imagen="remington.png"
      alt="secador"
      precio="$12.000"
    />
    <CardProduct
      title="secador"
      content="el mejor secador para un estilo inconfundible"
      imagen="remington.png"
      alt="secador"
      precio="$12.000"
    />
    <CardProduct
      title="secador"
      content="el mejor secador no volveras a buscar mas"
      imagen="remington.png"
      alt="secador"
      precio="$12.000"
    />
    <CardProduct
      title="secador"
      content="el mejor secador linea profecional"
      imagen="remington.png"
      alt="secador"
      precio="$12.000"
    />
    <CardProduct
      title="secador"
      content="el mejor secador y veras que es lo mejor"
      imagen="remington.png"
      alt="secador"
      precio="$12.000"
    />
    <CardProduct
      title="secador"
      content="el mejor secador los mejores precios del mercado"
      imagen="remington.png"
      alt="secador"
      precio="$12.000"
    />
  </div>
</section>




