---
import Logo from "../components/components-nav/Logo.astro";
import Faceboock from "../icons/faceboock.astro";
import Instagram from "../icons/instagram.astro";
---

<footer class=" bg-gradient-to-r from-purple-500 to-pink-500 w-[100%]">
  <div class="flex flex-col md:flex-row justify-between text-center items-center gap-10 py-10">
    <a class="px-8 mx-auto" href="/"><Logo /></a>

    <p class="mx-10 text-royal-blue-900">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, nisi.
      Accusantium in ipsam veniam quasi?
    </p>
    <div class="grid md:grid-cols-2 gap-10 px-20 items-center m-auto">
      <a href=""><Instagram /></a>
      <a href=""><Faceboock /></a>
    </div>
  </div>
  <div class="text-center text-royal-blue-900"><p>derechos reservado @2024</p></div>
</footer>